<div
	class="retailrocket retailrocket-widget retailrocket-theme-default"
	data-header-text="Хиты продаж"
	data-algorithm="popular"
	data-algorithm-argument="0"
	data-number-of-items="4"
	data-image-width="100"
	data-image-height="100"
	data-textoverflowhidden="true"
	data-template-container-id="widget-template"
	data-on-pre-render="rrMethods.preRenderFn(this, data, renderFn)"
	data-on-post-render="rrMethods.postRenderFn(this)"
	data-retailrocket-morebutton="true"
	data-retailrocket-buybutton="false"
    >
</div>
<style type="text/css">
</style>
<script id="widget-template" type="text/html">
  <header class="retailrocket-widgettitle">
    <span><%=(headerText)%></span>
  </header>
  <div class="retailrocket-items">
    <% for (var i = 0 ; i < numberOfItems; ++i) with(items[i]) { %>
    <div class="retailrocket-item" style="width:<%=itemImageWidth%>px;">
      <a class="retailrocket-item-info" href="<%=Url%>" onmousedown='rrApi.recomMouseDown(<%=ItemId%>, { suggester: "<%=suggesterId%>", methodName: "<%=algorithm%>" })'>
        <div class="retailrocket-item-image"><img src="//cdn.retailrocket.net/api/1.0/partner/<%=partnerId%>/item/<%=ItemId%>/picture/?format=png&width=<%=itemImageWidth%>&height=<%=itemImageHeight%>&scale=both" style="width:<%=itemImageWidth%>px;height:<%=itemImageHeight%>px" onerror="retailrocket.widget.hideProduct(this)"></div>
        <div class="retailrocket-item-brand">
          <%=Vendor %>
        </div>
        <div class="retailrocket-item-title">
          <%=Name %>
        </div>
        <div class="retailrocket-item-description">
          <%=Description %>
        </div>
      </a>
      <div class="retailrocket-price-wrapper">
        <div class="retailrocket-item-price"> <span class="retailrocket-item-price-value"><%= retailrocket.widget.formatNumber(Price, ",", " ", 0) %></span> <span class="retailrocket-item-price-currency"></span> </div>
        <% if ( OldPrice > Price ) {  %>
        <div class="retailrocket-item-old-price"> <span class="retailrocket-item-old-price-value"><%= retailrocket.widget.formatNumber(OldPrice, ",", " ", 0) %></span> <span class="retailrocket-item-price-currency"></span> </div>
        <% var Discount = Math.round( 100 - Price / OldPrice * 100 ); %>
        <% } %>
      </div>
      <nav class="retailrocket-actions">
        <a class="retailrocket-actions-more" href="<%=Url%>" onmousedown='rrApi.recomMouseDown(<%=ItemId%>, { suggester: "<%=suggesterId%>", methodName: "<%=algorithm%>" })'></a>
        <a class="retailrocket-actions-buy" href="<%=Url%>" onclick='rrApi.recomAddToCart(<%=ItemId%>, { suggester: "<%=suggesterId%>", methodName: "<%=algorithm%>" })'></a>
      </nav>
    </div>
    <% } %>
  </div>
</script>
<script type="text/javascript">
!function(window, document){
  'use strict';

  var methods = {};

  methods.preRenderFn = function preRenderFn(widget, data, renderFn) {
    renderFn(data);
  }
  methods.postRenderFn = function postRenderFn(widget) {

  }

  window.rrMethods = methods;
}(window, document);
retailrocket.widget.render();
</script>